<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{authorName}}.
               It uses data from mapbox.com and weatherstack!
            </p>
            <img class="portrait" src="/img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>