<!DOCTYPE html>

<html>
    {{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>Some help text here!</p>
        </div>
        {{>footer}}
    </body>
</html>